@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";
}

<div class="breadcrumb">
    <a  href="#">Home</a> > <a  href="#">Become Certified</a> > <a  href="#">Canada Recognized Teacher Training Programs</a> > <b>Teacher Training Directory</b>
</div>

<h1>TESL Canada Federation Professional Certificate Application Form</h1>
<h4>General Information Form <small>(required for all applications)</small></h4>

<section class="form">
    <div class="text">
        <p>Last Name</p>
        <input type="text"/>
    </div>
    <div class="text">
        <p>First Name</p>
        <input type="text"/>
    </div>
    <div class="text">
        <p>Initial(s)</p>
        <input type="text" class="w70"/>
    </div>

    <div class="text">
        <p>Name as you wish it to appear on the certificate</p>
        <input type="text" class="w500"/>
    </div>
    
    <div class="text">
        <p>Permanent Address <small>(to which your certificate will be mailed)</small></p>
        <div class="block">
            <div class="text">
                <p>Civic number</p>
                <input type="text" class="w100"/>
            </div>
            <div class="text">
                <p>Street</p>
                <input type="text"/>
            </div>
            
            <div class="text">
                <p>Postal Code</p>
                <input type="text" class="w100"/>
            </div>
            <div class="text">
                <p>City</p>
                <input type="text"/>
            </div>
            <div class="text">
                <p>Province</p>
                <select class="w70"></select>
            </div>
        </div>
    </div>
    
    <div class="text">
        <p>Home telephone</p>
        <input type="text" class="w30" placeholder="000"/>
        <input type="text" class="w30" placeholder="123"/>
        <input type="text" class="w40" placeholder="4567"/>
    </div>
    
    <div class="text">
        <p>Work telephone</p>
        <input type="text" class="w30" placeholder="000"/>
        <input type="text" class="w30" placeholder="123"/>
        <input type="text" class="w40" placeholder="4567"/>
        <input type="text" class="w40" placeholder="Ext."/>
    </div>
    
    <div class="text">
        <p>Mobile telephone</p>
        <input type="text" class="w30" placeholder="000"/>
        <input type="text" class="w30" placeholder="123"/>
        <input type="text" class="w40" placeholder="4567"/>
    </div>
    
    <div class="text">
        <p>Email</p>
        <input type="text" />
    </div>
    
    <div class="text">
        <p>Fax</p>
        <input type="text" class="w30" placeholder="000"/>
        <input type="text" class="w30" placeholder="123"/>
        <input type="text" class="w40" placeholder="4567"/>
    </div>

    <div class="text">
        <p>Current Professional Address</p>
        <div class="block">
            <div class="text">
                <p>Civic number</p>
                <input type="text" class="w100"/>
            </div>
            <div class="text">
                <p>Street</p>
                <input type="text"/>
            </div>
            
            <div class="text">
                <p>Postal Code</p>
                <input type="text" class="w100"/>
            </div>
            <div class="text">
                <p>City</p>
                <input type="text"/>
            </div>
            <div class="text">
                <p>Province</p>
                <select class="w70"></select>
            </div>
        </div>
    </div>
    
    <div class="text">
        <p>What Standard are you applying for?</p>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard One [Interim]
        </label>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard One [Permanent]
        </label>
        <br/>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard Two [Interim]
        </label>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard Two [Permanent]
        </label>
        <br/>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard Three [Interim]
        </label>
        <label>
            <input type="checkbox"/>
            Professional Certificate Standard Three [Permanent]
        </label>
    </div>
    
    <div class="text">
        <p>Are you upgrading to a higher standard?</p>
        <label>
            <input type="radio"/>
            Yes
        </label>
        <label>
            <input type="radio"/>
            No
        </label>
    </div>
    
    <div class="text">
        <p>Membership</p>
        <div class="block long">
            <p>Provincial Member of</p>
            <label class="w110">
                <input type="checkbox"/>
                BC TEAL
            </label>
            <label class="w160">
                <input type="checkbox"/>
                TESL Saskatchewan
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TEAM 
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TESL NS
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TESL PEI
            </label>
            <label class="w110">
                <input type="checkbox"/>
                ATESL
            </label>
            <label class="w160">
                <input type="checkbox"/>
                TEAL Manitoba
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TESL Ontario
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TESL NB
            </label>
            <label class="w110">
                <input type="checkbox"/>
                TESL Yukon
            </label>
            <br/>
            <br/>
            <label class="w340">
                <input type="checkbox"/>
                Email sent directly from province
            </label>
            <label class="w340">
                <input type="checkbox"/>
                Official receipt enclosed
            </label>
            <label class="w340">
                <input type="checkbox"/>
                Membership card enclosed
            </label>
            <label class="w340">
                <input type="checkbox"/>
                International Membership Application Enclosed
            </label>
        </div>
    </div>
    
    <div class="text">
        <p>English Language Proficiency Requirement</p>
        <label>
            <input type="radio"/>
            Native language speaker
        </label>
        <label>
            <input type="radio"/>
            Non-native language speaker with valid official ELP score enclosed
        </label>
    </div>

    <div class="buttons">
        <button>Continue</button>
        <button class="blank">Reset form</button>
    </div>
</section>